{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["jsx-a11y", "prettier", "react", "import"],
  "rules": {
    "semi": 1,
    "comma-dangle": 0,
    "arrow-body-style": 1,
    "linebreak-style": [0, "windows"],
    "react/jsx-filename-extension": [0, { "extensions": ["*.js", "*.jsx"] }],
    "react/forbid-prop-types": 0,
    "react/prefer-stateless-function": 0
  }
}
