@import '~bootstrap/scss/bootstrap';

// resets, variable, mixins
@import './reset';
@import './variables';
@import './breakpoints';
@import './grid';

// shared
@import './input.scss';
@import './buttons.scss';

// pages
@import './403.scss';
@import './verify.scss';
@import './login.scss';
@import './navbar.scss';
@import './navbar-mobile.scss';
@import './call4verify.scss';
@import './loaderSpinner.scss';
@import './accommodations.scss';
@import './notifications.scss';
@import './chat.scss';
@import './requests.scss';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

$sides: (top, bottom, left, right);

@mixin padding-and-margin {
  @for $i from 1 through 20 {
    @each $side in $sides {
      .m-#{$side + '-' + $i} {
        margin-#{$side}: #{$i * 10}px;
      }
      .p-#{$side + '-' + $i} {
        padding-#{$side}: #{$i * 10}px;
      }
    }
  }
  @for $i from 1 through 20 {
    .m-#{$i} {
      margin: #{$i * 10}px;
    }
    .p-#{$i} {
      padding: #{$i * 10}px;
    }
  }
}

@include padding-and-margin;

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 5rem;
  }
}

.center {
  text-align: center;
}

.text-danger {
  color: red;
}

.rating-container {
  display: flex;
  color: orange;
  margin: 6px;
}

.settings {
  background-color: white;
}
