.c4v-container {
  background-image: linear-gradient(
      to bottom left,
      rgba(#6eddf5, 0.8),
      rgba(#6454f0, 0.8)
    ),
    url('../assets/bg1.png');
  background-size: cover;
  background-position: top;
}

.c4v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 50px;
  font-size: 20px;

  barnes-backstars-logo {
    width: 10%;
    margin: 20px auto;
  }

  .call4verify-container {
    border: 0.5px solid whitesmoke;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px #00000030;
    line-height: 60px;
    border-radius: 6px;
    text-align: center;

    .c4v-title {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
      line-height: normal;
      padding: 10px;
    }

    .notice-exp {
      color: #7d7d7d;
    }

    .verify-ok {
      width: 4rem;
      background-color: #6eddf5;
      border-radius: 6px;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: darken(#6eddf5, 11%);
      }

      button {
        border: none;
        background: transparent;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1.3rem;
        width: 100px;
        cursor: pointer;
      }
    }
  }
}
