.call4verify-container {
  border: 0.5px solid whitesmoke;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px #00000030;
  line-height: 30px;
  border-radius: 6px;
  text-align: center;

  .c4v-title {
    margin: auto;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
  }
}

.c4v-container {
  background-image: linear-gradient(
      to bottom left,
      rgba(#6eddf5, 0.8),
      rgba(#6454f0, 0.8)
    ),
    url('../assets/bg1.png');
  background-size: cover;
  background-position: top;
}

.c4v {
  width: 100%;
  height: 100vh;
  padding: 50px;
  font-size: 20px;

  .barnes-backstars-logo {
    width: 14%;
    display: block;
    margin: 44px auto;

    @media screen and (max-width: 700px) {
      width: 21%;
      margin: 68px auto;
    }

    @include small {
      width: 40%;
      margin: 75px auto;
    }
  }

  .notice-exp {
    color: #7d7d7d;
  }

  .verify-ok {
    width: 2rem;
    background-color: #6eddf5;
    border-radius: 6px;
    padding: 7px;
    cursor: pointer;

    &:hover {
      background-color: darken(#6eddf5, 11%);
    }

    button {
      border: none;
      background: transparent;
      margin: 0;
      padding: 0;
      color: white;
      font-size: 1.3rem;
      width: 100px;
      cursor: pointer;
    }
  }
}

.error-num {
  font-size: 70px;
}

@media screen and (max-width: 700px) {
  .call4verify-container {
    line-height: 30px;
  }

  .c4v {
    width: 85%;
    margin: auto;
    font-size: 20px;

    .barnes-backstars-logo {
      width: 20%;
      display: block;
      margin: 20px auto;
    }
    .c4v-title {
      font-size: 25px;
    }

    .notice-exp {
      color: #7d7d7d;
    }

    .verify-ok {
      display: inline-block;
      width: 40%;
      margin: auto;

      button {
        display: inline-block;
        margin: 0px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .c4v {
    width: 100%;
    margin: auto;
    font-size: 20px;

    .call4verify-container {
      width: 100%;
      margin: 0px;
      padding: 30px;
    }

    .barnes-backstars-logo {
      width: 28%;
      display: block;
      margin: 20px auto;
    }

    .c4v-title {
      font-size: 20px;
    }

    p {
      font-size: 13px;
    }

    .notice-exp {
      color: #7d7d7d;
    }

    .verify-ok {
      display: block;
      width: 32%;

      button {
        display: inline-block;
        width: 100%;
        margin: 0px;
      }
    }
  }
}
