$colors: (
  primary: #3359de,
  back: #f6f7fb,
  back_ground: #eff4f8,
  whitey: #fff,
  google: #d83025
);
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

@function color($name) {
  @return map-get($colors, $name);
}

.login-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom left,
      rgba(#6eddf5, 0.8),
      rgba(#6454f0, 0.8)
    ),
    url('../assets/bg1.png');
  background-size: cover;
  background-position: top;

  .bg {
    background-color: white;
    align-self: center;
    justify-items: center;
    width: 600px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

    @include medium {
      border-radius: 0;
      width: 100%;
    }

    .barnes-backstars-logo {
      width: 134px;
      height: 113px;

      @include medium {
        width: 168px;
        height: 129px;
      }

      @include small {
        width: 124px;
        height: 106px;
      }

      @include smallest {
        margin: 10px 0 0 10px;
      }
    }

    .login-form {
      margin-top: 20px;
      position: relative;
    }

    .local {
      position: relative;
      text-align: center;
    }
    .forgot {
      text-align: center;
      letter-spacing: 1px;

      .other-link {
        color: color(primary);
      }

      @include small {
        font-size: 1rem;
      }
    }

    .foot-message {
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      letter-spacing: 1px;
      line-height: 1.4rem;

      @include medium {
        font-size: 13px;
      }

      @include smallest {
        font-size: 14px;
        line-height: 1.5rem;
      }
    }

    .social {
      margin-top: 10px;
    }
  }
}

.social-btn {
  position: relative;
  display: inline-block;

  @include medium {
    display: block;
    margin: 1rem;
  }

  img {
    float: left;
    margin: -4px 0 0 40px;
    width: 25px;
    height: 25px;

    @include medium {
      margin: -5px -78px 3px 40px;
    }

    @include small {
      width: 20px;
      height: 21px;
    }

    @include smallest {
      margin: -2px -32px 0px 10px;
    }
  }
  .google {
    color: color(google);
    text-decoration: none;
  }
  .fb {
    color: color(primary);
    text-decoration: none;
  }
}

// .large {
//   padding: 12px 80px;
// }
